<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamedle</title>
    <style>
    html, body {
      height: 100%;
    }
    </style>
    {{ bootstrap.load_css() }}
</head>
<body style="padding:64px">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a href="../" class="navbar-brand">Gamedle</a>
            <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gamedle</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a href="../" class="nav-link active text-dark">Home</a>
                            </li>
                            <li class="nav-item">
                                 
                                    {% for game in games %}                                  
                                        <a href="{{ url_for('game_set_start', game_id=game['id']) }}" class="list-group-item list-group-item-action text-dark text-decoration-none mb-2">
                                         {{ game['name'] }}
                                        </a>                              
                                    {% endfor %}
                            </li>
                            
                        </ul>
                    </div>
            </div>
        </div>   
    </nav>
<div class="container h-100">
            <div class="d-flex h-100 justify-content-evenly align-items-center">                           
                    <div class="d-flex w-50 flex-column align-items-center">
                        <div class="border border-dark border-1 rounded-2">
                            <div class="vstack gap-3 align-items-center">
                                <div class="p-1 fw-bold">Game 1</div>
                                    <div class="border border-dark border-1 border-start-0 border-end-0">
                                    <div class="p-2">This is our first game where you can estimate various things!</div>
                                    </div>
                                <a class="btn btn-primary" href="../GameSet1" >Play</a> 
                            </div>
                        </div>                 
                    </div>
                    <div class="d-flex w-50 flex-column align-items-center">
                        <div class="border border-dark border-1 rounded-2">
                            <div class="vstack gap-3 align-items-center">
                                <div class="p-1 fw-bold">Game 2</div>
                                    <div class="border border-dark border-1 border-start-0 border-end-0">
                                    <div class="p-2">This is our second game where you guess the prices of various products found in the catalog of the German retailer Aldi!</div>
                                    </div>
                                <a class="btn btn-primary w-20" href="../GameSet1" >Play</a>
                            </div>
                        </div>
                    </div>      
                      
            </div>                         
            
 </div>   

    {{ bootstrap.load_js() }}
</body>
</html>
