<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameSet</title>
    <style>
    html, body {
      height: 100%;
    }
    </style>
    {{ bootstrap.load_css() }}
</head>
<body style="padding:64px">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a href="../" class="navbar-brand">Gamedle</a>
            <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Gamedle</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a href="../" class="nav-link text-dark">Home</a>
                            </li>

                             <li class="nav-item">
                                 
                                {% for game in games %}                                  
                                    <a href="{{ url_for('game_set_start', game_id=game['id']) }}" class="list-group-item list-group-item-action text-dark text-decoration-none mb-2">
                                    {{ game['name'] }}
                                    </a>                              
                                {% endfor %}
                            </li>

                        </ul>
                    </div>
            </div>
        </div>   
    </nav>
<div class="container h-100">
        <!-- Anzeige von question -->
    <div class="d-flex h-100 flex-column text-center"> 
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h1 class="row">{{ guessing_object['question'] }}</h1>
        
        <!-- Anzeige von picture -->
            <div class="d-flex justify-content-center align-items-end">
                <div class="col-md-9">
                    <img src="{{ url_for('static', filename=guessing_object['picture']) }}" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>

        
        <!-- Skala https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range -->
        <form action="{{ url_for('game_set', game_id=game_id, round=round) }}" method="post">
            <div class="vstack">

                        <div class="col text-center mt-2">
                            <label for="guess"><span id="guessValue" style="font-weight: bold">{{ (guessing_object['scale_top'] + guessing_object['scale_bottom']) // 2 }}</span></label>
                        </div>
                    
                    <div class="d-flex justify-content-between m-2">
                        <div class="col-1 text-center">
                            <label style="font-weight: bold">{{guessing_object['scale_top']}}</label>
                        </div>
                        <div class="col">
                            <input type="range" id="guess" name="guess" class="form-range"
                                min="{{ guessing_object['scale_top'] }}" 
                                max="{{ guessing_object['scale_bottom'] }}" 
                                step="1" 

                                oninput="updateValue(this.value)">
                        </div>
                        <div class="col-1 text-center">
                            <label style="font-weight: bold">{{guessing_object['scale_bottom']}}</label>
                        </div>
                    </div>
                    

                <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#submitPopUp">Submit</button>
                <div class="modal fade" data-bs-backdrop="static" id="submitPopUp">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header"><h1>Confirm guess</h1>
                            
                            </div>
                            <div class="modal-body"><h4>Your Guess of <span id="modalGuessValue" style="font-weight: bold"></span> earned you X points!</h4>
                            <h4>The correct answer was: XYZ</h4>
                            </div>
                            <div class="modal-footer">                          
                                <button type="submit" class="btn btn-primary">Continue</button>                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-center m-2">
                            <label for="guess">Current Score: {{score}}</label>
                </div>

            </div>
        </form>

        <!-- Dynamische ANzeige der Skala https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
        <script>
        
            var slider = document.getElementById("guess");
            var output = document.getElementById("guessValue");
            var modalGuess = document.getElementById("modalGuessValue");

            output.innerHTML = slider.value;
            modalGuess.innerHTML = slider.value;

            slider.oninput = function() {
             output.innerHTML = this.value;
             modalGuess.innerHTML =this.value;
            }
        </script>

    </div>       
</div>
    {{ bootstrap.load_js() }}
</body>
</html>